/* /css/login.css */

body {
    font-family: Arial, sans-serif;
    background: url('../img/liquidbackground.png') center/cover no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario-container {
    position: relative;
    width: 20%;
    height: 50vh;
    margin: 75px auto;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 20px;
  }
  
  .contenedor {
    display: flex;
    align-items: center;
  }
  
  .pestaña {
    margin-top: 20px;
    margin-left: 35px;
  }
  
  .circulo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    display: inline-block;
    margin: 0;
  }
  
  .title {
    width: 275px;
    height: auto;
  }
  
  .rojo {
    background-color: #ff3131;
  }
  
  .amarillo {
    background-color: #ffd558;
  }
  
  .verde {
    background-color: #00bf63;
  }
  
  .registro-container {
    text-align: left;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #000;
    text-align: right;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 2px solid #ff3131;
    border-radius: 4px;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    height: auto;
    max-height: 200px;
  }
  
  textarea {
    resize: vertical;
  }
  
  
  .submit-button {
    background-color: #181414;
    color: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    position: relative;
  }
  
  .submit-button:hover {
    background-color: #000;
  }

